<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>013-04-作用域插槽</title>
</head>

<body>
  <div id="app">
    <!--
      作用域插槽的作用：
        在父组件的作用域中拿到子组件的 data() 返回的数据；
          实现在父组件中，替换插槽的标签。替换后的标签的内容仍由子组件来提供。
    -->
    <cpn></cpn>

    <cpn>
      <!-- 目的：在 Vue 实例模板中的子组件插槽中，拿到子组件的 pLanguages 数据 -->
      <!-- 为在子组件中的插槽标签添加属性 v-slot:插槽名="包含所有插槽Prop的对象的名字"，让插槽的作用域从 Vue 实例变为插槽-->
      <template v-slot:default="slot">
        <!-- 通过 slot.绑定了子属性数据的自定义属性名 获取子组件 -->
        <!-- <span v-for="item in slot.pdata">{{item}} - </span> -->
        <span>{{slot.pdata.join(' - ')}}</span>
      </template>
    </cpn>

    <cpn>
      <!-- 语法糖 #插槽名（default不可省略）="包含所有插槽Prop的对象的名字" -->
      <template #default="slot">
        <!-- <span v-for="item in slot.pdata">{{item}}*</span> -->
        <span>{{slot.pdata.join(' * ')}}</span>
      </template>
    </cpn>
  </div>

  <template id="cpn">
    <div>
      <!-- 将子组件的 pLanguages 数据绑定到插槽的自定义属性 data（名字随意起）中-->
      <!-- 被绑定到 slot 上的属性被称为 插槽Prop -->
      <slot :pdata="pLanguages">
        <ul>
          <li v-for="item in pLanguages">{{item}}</li>
        </ul>
      </slot>
    </div>
  </template>

  <script src="../js/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message: '你好啊'
      },
      components: {
        cpn: {
          template: '#cpn',
          data() {
            return {
              pLanguages: ['JavaScript', 'C', 'C++', 'C#', 'Java', 'Python', 'Go', 'Swift']
            }
          }
        }
      }
    })
  </script>
</body>

</html>