<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>010-06-利用v-bind在表单中进行值绑定</title>
</head>

<body>
  <!--
    值绑定
      1. 定义
        将某个数组变量的成员动态绑定到表单的属性中。
      2. 实现过程
        2.1 从后端获取可供选择的选项，这些选项被保存到一个数组中；
        2.2 用 v-for 将数组成员绑定到调单的属性中。
  -->
  <div id="app">
    <label v-for="item in originHobbies" :for="item">
      <input type="checkbox" :value="item" :id="item" v-model="selectedHobbies">{{item}}
    </label>
    <h2>您选择的爱好是：{{selectedHobbies}}</h2>
  </div>

  <script src="../js/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        originHobbies: ['篮球', '乒乓球', '足球', '排球', '高尔夫', '跑步', '游泳'],
        selectedHobbies: []
      }
    })
  </script>
</body>

</html>