.main {
    width: 260px;
    height: 270px;
    border: 1px solid #ccc;
    margin: 100px auto;
}
.m_title {
    -moz-text-align-last: left;
         text-align-last: left;
    /* font-weight: 700; */
    font-size: 20px;
    padding: 20px 10px 10px 10px;
}
.m_content {
    color: #11ccaa;
    padding: 0px 10px 10px 10px;
}
.m_img {
    text-align: right;
    position: relative;
}
.m_img img {
    position: absolute;
    width: 180px;
    top: 0px;
    left: 93px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.main:hover img {
    left: 80px;
}