<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>010-04-v-model结合checkbox</title>
</head>
<body>
  <div id="app">
    <!--
      1. checkbox 实现单选框效果的案例：
        同意用户协议后才可点击“下一步”
    -->
    <label for="agreement">
      <!-- 不用将是否同意协议的 input 传递到后端 -->
      <!-- 与 checkbox 单选框双向绑定的变量通常是“布尔值” -->
      <input type="checkbox" id="agreement" v-model="isAgree">同意协议
    </label>
    <h2>您选择的是：{{isAgree}}</h2>
    <button :disabled="!isAgree">下一步</button>

    <br><hr>

    <!-- 2. checkbox 实现多选框 -->
    <p>选择您的爱好：</p>
    <!-- 与 checkbox 多选框双向绑定的变量通常是“数组” -->
    <input type="checkbox" value="篮球" v-model="hobbies">篮球
    <input type="checkbox" value="足球" v-model="hobbies">足球
    <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球
    <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球
    <h2>您选择的爱好是：{{hobbies | join}}</h2>
  </div>
    
  <script src="../js/vue.js"></script>
  <script>
    const app = new Vue ({
      el: '#app',
      data: {
        message: '你好啊',
        isAgree: false,
        hobbies: []
      },
      filters: {
        join(arr) {
          return arr.join('、')
        }
      }
    })
  </script>
</body>
</html>