<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>010-03-v-model结合radio</title>
</head>
<body>
  <div id="app">
    <!-- radio 的 name 相同时，只能同时选择一个 radio -->
    <label for="male">
      <input type="radio" id="male" name="gender" value="male" checked="checked">男
    </label>
    <label for="female">
      <input type="radio" id="female" name="gender" value="female">女
    </label>

    <hr>

    <!-- 如果不设置相同的 name，还可通过设置相同的 v-model，实现只能同时选择一个 radio 的效果 -->
    <label for="male">
      <input type="radio" id="male" value="male" v-model="gender">男
    </label>
    <label for="female">
      <input type="radio" id="female" value="female" v-model="gender">女
    </label>

    <h2>您选择的性别是：{{gender}}</h2>
  </div>
    
  <script src="../js/vue.js"></script>
  <script>
    const app = new Vue ({
      el: '#app',
      data: {
        message: '你好啊',

        /* 
          如果手动为被双向绑定的变量设置初始值，则会默认选中 value 与初始值相同的 radio；
            等效于 input 标签的 checked="checked" 属性。
        */
        gender: 'male'
      }
    })
  </script>
</body>
</html>